<div class="students-record">
    <form>
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search student:</label>
            <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
            </div>
        </div>
    </form>
    <table class="table table-striped record-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Country</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Maths</th>
                <th>Computer</th>
               
            </tr>
        </thead>
        <tbody>
            @for (student of students; track student.name ; let i=$index ){
                <tr>
                    <td>{{i+1}}</td>
                <td>
                    <!-- {{student.student_name}} -->
                    <ngb-highlight [result]="student.student_name" [term]="filter.value" />
                </td>
                <td>
                    <img [src]=student.studentImage
                    class="me-2"
                    style="width: 20px; border-radius: 50%;"
                    alt=student.student_name
                    />
                    <!-- {{student.country}} -->
                    <ngb-highlight [result]="student.country" [term]="filter.value" />
                    
                </td>
                <td>
                    <!-- {{student.physics}} -->
                    <ngb-highlight [result]="student.physics" [term]="filter.value" />
                </td>
                <td>
                    <!-- {{student.chemistry}} -->
                    <ngb-highlight [result]="student.chemistry" [term]="filter.value" />
                </td>
                <td>
                    <!-- {{student.maths}} -->
                    <ngb-highlight [result]="student.math" [term]="filter.value" />

                </td>
                <td>
                    <!-- {{student.computer}} -->
                    <ngb-highlight [result]="student.computer" [term]="filter.value" />

                </td>
                <!-- <td>
                    <button (click)="editStudent(student.student_id)">Edit</button>
                    <button (click)="deleteStudent(student.student_id)">Delete</button>
                </td> -->
                </tr>
            }@empty {
                <tr>No record found.</tr>
            }
        </tbody>
    </table>
    
    <!-- <router-outlet></router-outlet> -->
    
</div>